<html>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='donate.css') }}">
 </head>
 <style>
 .form{
  background-color: white;
  padding: 20px;
  opacity: 100%
  width: 500px;
  position: absolute;
  top: 200px;
  left: 40px;
}
</style>

   <body>
        <div class="page">
        <ul>
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('about') }}">ABOUT</a>
        <a href="{{ url_for('outreach') }}">OUTREACH</a>
        <a href="{{ url_for('donate') }}">DONATE</a>
        
        </ul>
        
        </div>   

      <div class = "form">
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Donor Information</h3>
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         Email<br>
         <textarea name = "email" ></textarea><br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         
         Amount<br>
         <input type = "text" name = "amount" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      </div>
      

      
   </body>
</html>