

.page{
    font-family: 'Gill Sans';
    font-size: 15px;
    color:black;
    font-size: 20px;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 90%;
    background-color:gainsboro;
    box-shadow: rgb(214, 206, 221);
    text-align: center;
    background-image: url("https://cutt.ly/ql12m8I");
    border-image-slice: fill;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height:590px;
}
ul{
    font-family: sans-serif;
    font-size: 25px;
    text-align: end;
    position: absolute;
    top: -5px;
    right: 10px;
    

}
ul a{
    font-family:serif;
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
ul a:hover{
    box-sizing: 10 10px;
    

    background-color:white;
}
