<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outreach</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='outreach.css') }}">
</head>

<body>
    <div class="page">
        <ul>
           
                <a href="{{ url_for('home') }}" >HOME</a>
                <a href="{{ url_for('about') }}">ABOUT</a>
                <a href="{{ url_for('outreach') }}">OUTREACH</a>
                <a href="{{ url_for('donate') }}">DONATE</a>
                
                
            
        </ul>
    <h2><b>Our Impact:</b></h2><hr>
   Over the last decade, we’ve set up a Fellowship program that has proven impact for accelerating both Student learning and Fellow leadership development. More than 120,000 young people have applied to our Fellowship Program and currently, we have 900+ Fellows impacting over 32000 students in 260 under-resourced schools in India. We have 5200 Student Alumni. Since our inception 11 years ago, we have infused the system with more than 3400+ Alumni who have been running their very own schools and organizations, training teachers, designing policy and continuing to serve within classrooms, non-profits, and corporate institutions. Most importantly, they’re working together to collectively build a better India.
Outreachy Alumni are serving more than 33 million children; 1 in 10 Indian children is now reached by a Outreachy Alumni. More than 77% of our Alumni continue to serve in the social sector, a commitment that is fueled by belief: more than 90% of our Alumni are convinced that India’s children can receive an excellent education. A recent study also tells us that our community has founded more than 150+ organizations.
We have built a national focus on repairing India’s educational crisis through our Innovation Cell programmes that equip teachers, Students and entrepreneurs to spark long term change in education. Through social and print media- we have garnered the support of thousands of people from a wide range of sectors, all of whom are invested in the vision of an excellent education for all children.

<h2><b>Academic Impact:</b></h2><hr>
We have graduated 3 cohorts of ~5200 students from 10th grade in Mumbai, Pune and Delhi till 2019 with a graduation rate which is consistently better than the Government schools’ average. Our 4th cohort graduated this year with a passing rate of 94-98% across these three cities. According to an assessment conducted by EY, In higher grades (5 and 7), Outreachy students performed significantly better than counterparts in Government and Affordable Private Schools.

<h2><b>Math:</b></h2><hr>
Our Students are learning to recall and apply knowledge and skills appropriate to their level. This has led to a 36% grade-level mastery of Math at the end of the year versus 20% at the beginning of the year in 2018-19.

<h2><b>Reading comprehension:</b></h2><hr>
On average, Teach For India Students showed a 0.6 year of growth in their reading level in 2018-19, which means they achieved a higher level of reading. This is especially important as many of them are below Grade level at the time of Teach For India intervention, and our Fellows need to accelerate their learning in order for them to be at par with peers of the same Grade.


 

  
</div>
   



    <footer style=" font-family: 'Gill Sans';
    box-sizing: content-box;
    background-color:black;
    text-align: center;
    color: cadetblue;">
     <h2>DESIGNED BY CHERIL AND TANMAY</h2>
    </footer>
</body>
</html>